.center {
  text-align: center;
}

.highlighted {
  background-color: #ff4136;
  color: white;
}

@media (min-width: 300px) and (max-width: 1056px) {
  .table {
    width: 100%;
  }
  .scrollableHorizontal {
    overflow-x: auto;
  }
}
